<div class="container">
  <h2> Create New Tour Stop </h2>
  Click on map to set latitude/longitude
  <input id="pac-input" class="controls" type="text" placeholder="Search Locations">
  <div class="row">
    <div id="new-stop-map" class="small-4 columns"> </div>
    <div class="small-5 columns end new-stop-form">
      <%= render 'form' %>
    </div>
  </div>

  <p><%= link_to "Done Adding Stops", tour_path(@tour), class: :button %></p>
</div>
