<%= form_for @tour do |f| %>
  <div class="row">
  <div class="small-1 columns">
    <%= f.label :name %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :name %>
  </div>
  <div class="large-2 columns end">
    <%= f.submit class: :button %>
  </div>
</div>
<% end %>
