<h2><%= @tour.name %></h2>
Tour stops:

<ul>
<% @stops.each do |stop| %>
  <li><%= stop.name %></li>
<% end %>
</ul>

<div id="map-canvas"></div>

<script type="text/javascript">
  var stops = <%= @stops.to_json.html_safe %>
</script>
