/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$ghost: #FAFAFA;

a {
  color: #548ED1;
}

.flash {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  background-color: green;
  padding-left: 1em;
  padding-top: 5px;
  font-size: 1.2em;
  color: white;
  height: 2em;
}

body {
  background-color: $ghost;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.button {
  background-color: #548ED1;
  font-color: white;
}

.container {

  margin-top: 1em;

  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;

  ul {
    list-style-type: none;
  }
}

.content {
  ul {
    list-style-type: none;
    margin: 0;
  }
}

.field {
  width: 60%;

  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 800px) {
    width: 90%;
  }

}

.top-bar-section ul li {
  background: none;
  font-size: 1.1em;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-size: 1.1em;
  background: none;
  color: black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1.1em;
  background: none;
  border: none;
}

.footer {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  .initials {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}
