/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$ghost: #FAFAFA;

.flash {
  background-color: green;
  padding-left: 1em;
  padding-top: 5px;
  font-size: 1.2em;
  color: white;
  height: 2em;
}

body {
  background-color: $ghost;
}

.button {
  background-color: #245A45;
}

.container {
  ul {
    list-style-type: none;
  }
}

.content {

  ul {
    list-style-type: none;
    margin: 0;
  }
}

.field {
  width: 67%;
}

.top-bar-section ul li {
  background: none;
  font-size: 1.1em;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-size: 1.1em;
  background: none;
  color: black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1.1em;
  background: none;
  border: none;
}

.footer {
  
  .initials {
    float: right;
    margin-top: 1em;
    margin-right: 2em;
  }
}
