/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$ghost: #FAFAFA;

body {
  background-color: $ghost;
}


.container {
  ul {
    list-style-type: none;
  }
}

.content {

  ul {
    list-style-type: none;
    margin: 0;
  }
}


.top-bar-section ul li {
  background: none;
  font-size: 1.1em;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-size: 1.1em;
  background: none;
  color: black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1.1em;
  background: none;
  border: none;
}
