$main-color: #ff0000;
$steel: #666666;
$ghost: #FAFAFA;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: $ghost;
  font-family: $font-sans;
}

.splash-image {
  background-image: url("nyc-streets.png");
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  float: none !important
}

.image-content {
  margin-left: auto;
  margin-right: auto;
  float: none !important
}

.category-container {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #08295E;
  color: $ghost;

  h4 {
    color: $steel;
  }

  a {
    color: $ghost;
  }
}
