$main-color: #ff0000;
$steel: #666666;
$ghost: #FAFAFA;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: $ghost;
  font-family: $font-sans;
}


.splash-image {
/*   margin-left: auto;
margin-right: auto; */
  position: relative;
}

.buffalo {
  position: absolute;
  top: 52%;
  right: 6%;
}

/* .image-content {
  margin-left: auto;
  margin-right: auto;
}
 */
.icon {
  margin-left: 10px;
  margin-top: 10px;
}

.icon-container {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2.3em;
  height: 100px;
  width: 100px;
  background-color: #C2CBCE;
  border-radius: 50%;
}

.find-tours {
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2em;
}

.category-container {
  margin-left: none;
  width: 100%;
  background-color: #548ED1;
  color: #C2CBCE;

  h4 {
    color: black;
  }

  a {
    color: #C2CBCE;
  }

  li {
    list-style-type: none;
  }
}

.categories {
  margin-left: 10%;
  margin-right: 10%;
}

.call-to-action {
  position: absolute;
  top: 50%;
  margin-left: 37%;
  margin-right: 37%;
}
