$main-color: #ff0000;
$steel: #666666;
$ghost: #FAFAFA;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: $ghost;
  font-family: $font-sans;
}

.splash-image {
  margin-left: auto;
  margin-right: auto;
}

.image-content {
  margin-left: auto;
  margin-right: auto;
  float: none !important
}

.category-container {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: none;
  width: 100%;
  background-color: #548ED1;
  color: $ghost;

  h4 {
    color: $steel;
  }

  a {
    color: $ghost;
  }
}

.categories {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action {
  margin-left: auto;
  margin-right: auto;
}
