$ghost: #FAFAFA;

.top-bar {
  background: $ghost;
  border-bottom: 1px solid grey;
}

.top-bar ul .right {
  background: $ghost;
}

.top-bar .name h1 a {
  color: #548ED1;
}

.top-bar .name h1 {
  font-size: 1.5em;
  margin-top: 2px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #3B6595;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: #548ED1;
  background: $ghost;

}
