#map-canvas {
 /* why can't I use percents? */
 height: 100%;
 width: 100%;
 position: absolute;
 img { max-width: none; }
 label { width: auto; display: inline; }
}

.tour-header {

}

.tour-stats ul {
  margin-left: .5em;
  font-size: 1em;
}

#directions-text {
  overflow: auto;
}

.next-stop-directions {
  margin-top: 1em;
}

.tour-content {
  height: 45em;
  overflow: auto;
}

.tour-stop-name {
  margin-top: 1em;
  padding-left: 1em;
  opacity: .8;
  background-color: #404749;
  color: white;
  font-size: 1.5em;
}

.stop-number {
  color: maroon;
}

.tour-stop-body {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-size: .9em;
  background-color: white;
  opacity: .92;
}

.crud-buttons {
  padding-top: 2em;
}
