#map-canvas {
 height: 100%;
 width: 100%;
 position: absolute;
 img { max-width: none; }
 label { width: auto; display: inline; }

 @media only screen and (max-width: 40em) {
  height: 50%;
 }
}

.tour-header {
  margin-left: .5em;
  width: 50%;
  float: left;
  position: absolute;
  z-index: 1;
  text-shadow: 3px 0px 2px rgba(84, 142, 209, 1);
}

.tour-stats {
  float: right;
  position: relative;
  z-index: 1;
  margin-top: .5em;
  margin-right: 1em;
  width: 39%;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  margin-bottom: 1em;
  opacity: .85;

  @media only screen and (max-width: 40em) {
    width: 30%;
  }
}

.stats-text {
  margin-top: 1em;
  margin-right: .4em;
  color: black;
  opacity: none;
  list-style-type: none;

  @media only screen and (max-width: 40em) {
    font-size: .7em;
  }
}

#directions-text {
  overflow: auto;
}

.next-stop-directions {
  margin-top: 1em;
}

.tour-content {
  height: 45em;
  overflow: auto;
  float: right;
  width: 40%;

  @media only screen and (max-width: 40em) {
    margin-top: 12em;
    height: 20em;
    width: 100%;
    float: none;
  }
}

.tour-stop-name {
  padding-left: 1em;
  opacity: .8;
  background-color: #404749;
  color: white;
  font-size: 1.5em;
}

.stop-number {
  color: maroon;
}

.tour-stop-body {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-size: .9em;
  background-color: white;
  opacity: .92;
}

.crud-buttons {
  padding-top: 2em;
}
